

.card-content{
    width: 1200px;
    margin: auto;
    background-color: rgb(33, 178, 197);
    border-radius:8px ;
    /* padding: 20px; */
}
.form{ 
     
    color: white;
}

.form-card{
    max-width: 768px;
    display: flex;
    flex-direction: column;
   
}
.card-title{
    text-align: center;
    margin-top: 0;
}
.row{
    /* max-width: 768px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__label{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 2px;
    
}
.card__input{
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #222;
}
.view-card{
    border: 2px solid #222;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.view-text{
    width: 45%;
    border-right: 2px solid #222 ;
    text-align: center;
    padding: 5px;
    color: #000;
}
.view-text__title{
    text-align: center;
    font-weight: 700;
    font-size: 29px;
}
.view-text__text{
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
.view-text__form{
    text-align: right;
    font-style: italic;
    margin-right: 12px;
}
.view__img{
    width: 55%; 
}
.view__img_img{
    min-width: 651px;
    min-height: 150px;
    max-height: 350px;
    /* object-fit: cover; */
}